
.view {
    background-size: cover;
}
.navbar{margin-bottom: 60px;}

.loader {
    background: black;
    z-index: 1050;
    height: 100vh;
    opacity: .9;
    width: 100vh;
    position:  absolute;
    .snowgrain-spinner {
        width: 100px;
        height: 100px;
        margin: auto;
        position: absolute;
        top:  calc(50% - 50px);
        right: calc(50% - 50px);
    }
}

ng-sidebar-container {
    height: 100vh;
}

.sidebar-content {
    height: 100vh; 
    padding-left: 30px; 
    padding-top: 40px; 
    width: 70vw;
}